.reviewSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* Horizontally center the section */
    padding: 2rem;
    max-width: 1000px;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adds spacing between buttons */
    margin-bottom: 1.5rem; /* Space between buttons and the reviews */
}

.reviewHeading {
    color: rgb(58, 58, 58);
    margin-bottom: 1rem;
}

.trustedText {
    color: rgb(45, 44, 44);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.countryButton {
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
    background: gray;
    color: white;
    border-radius: 0.2rem;
    font-size: 1rem;
}

.activeButton {
    background-color: orange;
    color: white;
}

.countryButton:hover {
    cursor: pointer;
}

.reviewContainer {
    background-color: rgb(225, 225, 225);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;
    text-align: center; /* Centers the review text */
}
