

.titleContainer {
    padding-left: 0.625rem; 
    font-size: 2rem; 
    width: 70%;
    
  } 
  


  .menuOpen {
    background-color: orange;
    position: fixed;
    width: 100vw;
    height: 100vh;

  }

  .menuClosed {
    background-color: initial;
    
  }

