
.introFounders {
    background-color: #f29631;
    padding: 50px;
    text-align: center;
    color: black;
}
.introFoundersH2 {
    font-size: 36px;
    margin: 0;
}

.introFoundersP {
    font-size: 24px;
    margin: 10px 0;
}
.contentFounders {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.contentDiv {
    width: 30%;
}

.contentFoundersH3 {
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.contentFoundersP {
    font-size: 16px;
    line-height: 1.5;
}

.contentImg {
    width: 100%;
    margin-top: 20px;
    height: 18.75rem; /* 300px / 16 */
    object-fit: cover;
}


